<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>viewServlet</servlet-name>
        <servlet-class>servlets.viewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>servlets.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSellerServlet</servlet-name>
        <servlet-class>servlets.addSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductsServlet</servlet-name>
        <servlet-class>servlets.addProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-class>servlets.addOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerServlet</servlet-name>
        <servlet-class>servlets.editCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSellerServlet</servlet-name>
        <servlet-class>servlets.editSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductsServlet</servlet-name>
        <servlet-class>servlets.editProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOrderServlet</servlet-name>
        <servlet-class>servlets.editOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <servlet-class>servlets.deleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSellerServlet</servlet-name>
        <servlet-class>servlets.deleteSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductsServlet</servlet-name>
        <servlet-class>servlets.deleteProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-class>servlets.deleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomerServlet</servlet-name>
        <servlet-class>servlets.searchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchSellerServlet</servlet-name>
        <servlet-class>servlets.searchSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProductsServlet</servlet-name>
        <servlet-class>servlets.searchProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderServlet</servlet-name>
        <servlet-class>servlets.searchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>servlets.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>servlets.report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>servlets.MapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chartServlet</servlet-name>
        <servlet-class>servlets.chartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderList</servlet-name>
        <servlet-class>servlets.searchOrderList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewServlet</servlet-name>
        <url-pattern>/viewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/addCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSellerServlet</servlet-name>
        <url-pattern>/addSellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductsServlet</servlet-name>
        <url-pattern>/addProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrderServlet</servlet-name>
        <url-pattern>/addOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerServlet</servlet-name>
        <url-pattern>/editCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSellerServlet</servlet-name>
        <url-pattern>/editSellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductsServlet</servlet-name>
        <url-pattern>/editProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOrderServlet</servlet-name>
        <url-pattern>/editOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSellerServlet</servlet-name>
        <url-pattern>/deleteSellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductsServlet</servlet-name>
        <url-pattern>/deleteProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrderServlet</servlet-name>
        <url-pattern>/deleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomerServlet</servlet-name>
        <url-pattern>/searchCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchSellerServlet</servlet-name>
        <url-pattern>/searchSellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProductsServlet</servlet-name>
        <url-pattern>/searchProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderServlet</servlet-name>
        <url-pattern>/searchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/MapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chartServlet</servlet-name>
        <url-pattern>/chartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderList</servlet-name>
        <url-pattern>/searchOrderList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            HomeServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
